/* legacy CSS for Drupal-imported content */

/* body */

div.body img.align-left {
    float: left;
}

div.body img.align-center {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

/* comments */

div.comments {
    margin-top: 30px;
}

div.comments > h2 {
    margin-bottom: 8px;
}

div.comments footer.comment__meta article.contextual-region,
div.comments div.content h3 {
    display: none;
}

div.comments p.comment__submitted {
    float: left;
}

div.comments p.date-time {
    float: right;
}

div.comments footer.comment__meta {
    font-size: 80%;
    text-align: right;
    line-height: 1.5;
}

div.comments footer.comment__meta p {
    margin: 0;
}

div.comments footer.comment__meta p.visually-hidden {
    display: none;
}

div.comments footer.comment__meta > a {
    display: inline-block;
    width: 100%;
    color: #68b030;
}

div.comments div.content {
    clear: both;
    padding: 1rem;
    margin: 0;
    background-color: #f8f8f8;
}

div.comments div.content blockquote {
    border-left: 5px solid #eeeeee;
    padding: 0 19px;
}

div.comments div.indented {
    margin-left: 1em;
}
